---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About Me</h1>
		<p>
			Hi, I’m a data scientist based out of Melbourne. I'm currently working in the retail analytics space with one of Australia's largest supermarket chains focusing on forecasting, 
			predictive modelling (both Bayesian and frequentist) and optimization problems. 
		</p>
	</div>
</PageLayout>
